body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(#041833,#04244F,#154580);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
}

.navbar {
    margin-bottom: 20px;
}


.sidebar {
    position: fixed;
    top: 56px; /* Altura da barra de navegação */
    bottom: 0;
    left: 0;
    padding: 48px 0 0; /* Altura da barra de navegação */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.banner__titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.content {
    padding: 20px;
}


.cards {
    width: 100%;
    
}

.cards__titulo {
    color: #7B78E5;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.cards__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 10px 10px #00000050;
    color: #850f0f;
    margin-bottom: 5rem;
    position: relative;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.945);
}

.card__imagem {
    width: 250px;        /* Largura fixa */
    height: 200px;       /* Altura fixa */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.945);
}

.card__tag {
    border-radius: 8px;
    color: #ffffff;
    text-shadow: 3px 3px 4px rgb(10, 10, 10);
    font-size: 1.2rem;
    left: 130px;
    margin-right: 1.5rem;
    padding: .5rem .5rem;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100px;
}

.card__info {
    font-size: 1.2rem;
    padding: 0.1rem 1rem 1rem 1rem;
}

.card__titulo {
    font-weight: bold;
    line-height: 1.2rem;
    margin-top: 0.8em;
}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__texto img{
    position: absolute;
    bottom: 0;      
    right: 0;       
    margin: 5px;   
    cursor: pointer;    
}

.card__texto img:hover {
    transform: scale(1.2); 
    
}

.card__descricao {
    font-size: 0.6em;
    margin-top: 0.8em;
}

.card__preco {
    position: absolute;
    bottom: 45px;      
    right: 0;       
    margin: 5px;   
    font-size: 1.2rem;
    font-weight: bold;
    color: #28f000;  
}


.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    position: relative;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-top: 20px;
    }

    .footer {
        position: relative;
    }
}
